

.footer {
  background-color: #e0e0e0;
  text-align: center;
  position: relative;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer p {
  margin: 0;
  color: #333;
}

.contributors {
  text-align: left;
}

.contributors ul {
  list-style: none;
  padding: 50px;
  margin: 10px;
}

.contributors ul li {
  color: #333;
}

.gdsc-logo img {
  max-height: 60px;
  margin-bottom: 15px;
  margin-left: 300px;
}

@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .contributors {
    text-align: center;
  }

}


