* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #000;
  }
  
body {
    width: 150vh;
    height: 100%;
    margin: 0 auto;
}
  
header {
    display: flex;
    justify-content: space-evenly;
}
  
/* 로고 */
#logo, #search, #icon {
    margin-top: 30px;
}
  
#logo {
    width: 200px;
}
#logo > a > img{
    width: 100%;
}
  
  /* 검색창 */
#search {
    margin-top: 60px;
    text-align: center;
    width: 300px;
    border-bottom: 1px solid rgb(123, 123, 123);
    height: 50px;
}
  
#search > form > input {
    width: 250px;
    height: 40px;
    border: none;
}
.search-btn{
    background-color: #fff;
    float: right;
    width: 40px;
    height: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-top: 15px;
}
  
  /* 왼쪽 끝 아이콘들 */
#icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding-top: 40px;
    font-size: 17px;
}
  
  /* Menu */
#mainMenu {
    margin-top: 50px;
    display: flex;
    border-bottom: 2px solid rgb(42, 73, 185);
    position: relative;

}
  
#mainMenu > li {
    width: 100%;
}
  
#mainMenu > li > a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 8px 23px;
}
  
#mainMenu > li > a:hover,
#subMenu > li > a:hover{
    font-weight: bold;
    color: rgb(53, 50, 162);
}
  
#subMenu {
    width: 150vh;
    position: absolute;
    left: 0;
    height: 0;
    overflow: hidden;
    text-align: center;
    font-size: 1.11rem;
    z-index: 99;

    border-top: 2px solid rgb(42, 73, 185);
    background: rgb(248, 249, 255)

}

#subMenu > li  {
    line-height: 50px;
}

.trip:hover{
    transition-duration: 0.5s;
}

  /* 골라보는 여행지 올렸을때 서브메뉴 보이기 */
.trip:hover  #subMenu {
    height: 300px;
    transition-duration: 0.7s;
    display: block;
    
    
}

