*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #000;
}

body{
    width: 150vh;
    margin: 0 auto;
}


main{
    width: 150vh;
    border: 1px solid #000;
    margin-top: 50px;
}


/* 슬라이드 */
[name="slide"] {
    display: none;
}
.slidebox{
    max-width: 150vh;
    max-height: 60vh;
    width: 100%;
    display: flex;
    text-align: center;
}
.slidebox  img{
    width: 145vh;
    height: 60vh;
}
.slidebox .slidelist{
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}
.slidebox  .slideitem{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .35s;
}
.slidebox  .slideitem  label{
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    /* border-radius: 20%; */
    cursor: pointer;
}
label.left{
    left: 20px;
    background-image:url("https://www.svgrepo.com/show/238293/left-arrow-next.svg") ;
    background-position: center center;
    block-size: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
}
label.right{
    right: 20px;
    background-image:url("https://www.svgrepo.com/show/238285/right-arrow-next.svg") ;
    background-position: center center;
    block-size: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
}
label.right:hover,
label.left:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

/* 슬라이드 애니메이션 */
[id="slide01"]:checked ~ .slidelist .slideitem {transform:translateX(0); animation:slide01 20s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform:translateX(-100%); animation:slide02 20s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform:translateX(-200%); animation:slide03 20s infinite;}
[id="slide04"]:checked ~ .slidelist .slideitem {transform:translateX(-300%); animation:slide04 20s infinite;}

@keyframes slide01 {
    0%{left: 0%;}
    23%{left: 0%;}
    25%{left: -100%;}
    48%{left: -100%}
    50%{left: -200%}
    73%{left: -200%}
    75%{left: -300%}
    98%{left: -300%}
    100%{left: -0%}
}
@keyframes slide02 {
    0%{left: 0%;}
    23%{left: 0%;}
    25%{left: -100%;}
    48%{left: -100%}
    50%{left: -200%}
    73%{left: -200%}
    75%{left: 100%}
    98%{left: 100%}
    100%{left: -0%}
}
@keyframes slide03 {
    0%{left: 0%;}
    23%{left: 0%;}
    25%{left: -100%;}
    48%{left: -100%}
    50%{left: 200%}
    73%{left: 200%}
    75%{left: 100%}
    98%{left: 100%}
    100%{left: -0%}
}
@keyframes slide04 {
    0%{left: 0%;}
    23%{left: 0%;}
    25%{left: 300%;}
    48%{left: 300%}
    50%{left: 200%}
    73%{left: 200%}
    75%{left: 100%}
    98%{left: 100%}
    100%{left: -0%}
}


/* List */

#heartRank, #KKilookpush{
    margin-top: 150px;
    width: 150vh;
}

#List{
    display: flex;
    justify-content: space-evenly;
}
.listMenu{
    width: 200px;
    height: 350px;
    border: 1px solid #000;
}

