<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kkilook : 부산관광은 끼룩</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='detail.css') }}">

  </head>
  <body>
    {% include header.html %}

    <h1 class="place">광안리 해수욕장</h1>
    <button class="heart-btn active" onclick="toggleFavorite(this)">♥</button>

    <div class="container">
      <div class="card">
        <img src="placeholder.png" alt="Place Image" />
      </div>
    </div>
    <div class="content">
      <div class="section">
        <div class="section-title">
          설명: 어떠한 곳인지, 주로 무엇을 할 수 있는 곳인지
        </div>
      </div>
      <div class="section">
        <div class="section-title">정보: 운영시간, 이용 요금, 교통정보 등</div>
      </div>
      <div class="section">
        <div class="section-title">주소:</div>
        <div class="map-image">
          <img src="map-image.png" alt="Map Image" />
        </div>
      </div>
    </div>

    {% include 'footer.html' %}
    <script src="detail.js"></script>
  </body>
</html>
