<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">
        <!-- <img src="" alt="" class="logo"> -->
            <p>KKilook</p>
        </div>

        <div class="search">
            <input type="text" placeholder="검색어를 입력해주세요">
            <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #616161;"></i>
        </div>

        <div class="icon">
            <i class="fa-solid fa-cloud fa-xl"></i>
            <i class="fa-regular fa-heart fa-xl"></i>
            <i class="fa-brands fa-github fa-xl"></i>
        </div>
    </header>

        <nav>
            <ul id="mainMenu">
                <div class="bg"></div>
                <li><a href="#"># 이달의 행사</a> 
                <li class="trip"><a href="#"># 골라보는 여행지</a> 
                    <ul id="subMenu">
                        <li><a href="#"># 계절별 여행지</a></li>
                        <li><a href="#"># 나 홀로 여행</a></li>
                        <li><a href="#"># 데이트 코스</a></li>
                        <li><a href="#"># 반려동물과의 여행</a></li>
                        <li><a href="#"># 아이 동반 여행</a></li>
                        <li><a href="#"># 끼룩이의 추천</a></li>
                    </ul>
                <li><a href="#"># 매체 쏙! 부산</a>             
        </nav>         

</body>
</html>