<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/259472804d.js"crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header.css') }}">

    <link rel="stylesheet" href="/Front-end/static/header.css">


    <title>Document</title>
</head>
<body>
    <header>

        <div id="logo">
            <a href="{{ url_for('main') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}">
            </a>
        </div>

        <div id="search">
            <form action="" method="GET">
                <input type="text" placeholder="검색어를 입력해주세요">
                <button class="search-btn" type="submit">
                    <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #616161;"></i>
                </button>
            </form>
        </div>


        <div id="icon">
            <a href="{{ url_for('weather') }}"><i class="fa-solid fa-cloud fa-xl"></i></a>
            <a href="{{ url_for('heart') }}"><i class="fa-regular fa-heart fa-xl"></i></a>
            <a href="https://github.com/GDSC-DEU/2024-SummerProject-team_kkilook"><i class="fa-brands fa-github fa-xl"></i></a>
        </div>  

</header>
        <nav>
            <ul id="mainMenu">
                <!-- <div class="bg"></div> -->
                <li><a href="{{ url_for('month') }}"># 이달의 행사</a> 
                <li class="trip"><a href="#"># 골라보는 여행지</a> 
                    <ul id="subMenu">
                        <li><a href="{{ url_for('season') }}"># 테마별 여행지</a></li>
                        <li><a href="{{url_for('alone')}}"># 나 홀로 여행</a></li>
                        <li><a href="{{ url_for('date') }}"># 데이트 코스</a></li>
                        <li><a href="{{ url_for('animal') }}"># 반려동물과의 여행</a></li>
                        <li><a href="{{url_for('withchild')}}"># 아이 동반 여행</a></li>
                        <li><a href="{{url_for('recommend')}}"># 끼룩이의 추천</a></li>
                    </ul>
                <li><a href="{{ url_for('medium') }}"># 매체 쏙! 부산</a></li>
        </nav>       

</body>
</html>