<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>매체 쏙! 부산</title>
    <link rel="stylesheet" href="medium.css">
</head>
    
{% include 'header.html' %}
    
<body>
    <h1># 매체 쓱! 부산</h1>
    <div class="subtitle">
        아름다운 해변, 맛있는 음식, 그리고 풍부한 문화로 가득한 곳!<br>
        잊지 못할 여행의 순간을 선사하는 부산!<br>
        많은 영화, 드라마, 방송에서 어떤 모습으로 담겼을까요?
    </div>
    <div class="container">
        <div class="card">
            <img src="실제 이미지 경로" alt="쓱!">
            <p class="card-title">#  쓱!</p>
        </div>
        <div class="card">
            <img src="실제 이미지 경로" alt=" 쓱!">
            <p class="card-title">#  쓱!</p>
        </div>
        <div class="card">
            <img src="실제이미지 경로" alt=" 쓱!">
            <p class="card-title">#  쓱!</p>
        </div>
        
    </div>
    <div class ="container">
        <div class="card">
            <img src="실제이미지 경로" alt="쓱!">
            <p class="card-title">#  쓱!</p>
        </div>
        <div class="card">
            <img src="실제이미지 경로" alt=" 쓱!">
            <p class="card-title">#  쓱!</p>
        </div>
        <div class="card">
            <img src="실제이미지 경로" alt=" 쓱!">
            <p class="card-title">#  쓱!</p>
        </div>
    </div>
</body>
</html>