<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>매체 쏙! 부산</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='medium.css') }}">
</head>
    
{% include 'header.html' %}
    
<body>
    <h1># 매체 쏙! 부산</h1>
    <div class="subtitle">
        아름다운 해변, 맛있는 음식, 그리고 풍부한 문화로 가득한 곳!<br>
        잊지 못할 여행의 순간을 선사하는 부산!<br>
        많은 영화, 드라마, 방송에서 어떤 모습으로 담겼을까요?
    </div>
    <div class="container">
        <div class="card">
            <img src="https://blog.naver.com/PostView.naver?blogId=ssalnim&logNo=221486202358&categoryNo=71&parentCategoryNo=0&photoView=0" alt="초량 문화 공감수정">
            <p class="card-title"># 아이유 밤편지 쓱!</p>
        </div>
        <div class="card">
            <img src="https://m.blog.naver.com/gudluk2u/221785569628?view=img_13" alt="범천 호천마을">
            <p class="card-title"># 쌈 마이웨이 쓱!</p>
        </div>
        <div class="card">
            <img src="https://m.blog.naver.com/rosbd4/221244167324?view=img_2" alt="광안리 해수욕장 근교">
            <p class="card-title"># 블랙팬서 쓱!</p>
        </div>
        <div class="card">
            <img src="https://m.blog.naver.com/lillijy00/223024165133?view=img_2" alt="정심재">
            <p class="card-title"># 재벌집 막내아들 쓱!</p>
        </div>
        <div class="card">
            <img src="https://www.bing.com/images/search?view=detailV2&ccid=CMXdEQOk&id=CA355DF32DA90657A6419B40F670C3067F4C2AA5&thid=OIP.CMXdEQOkJoh33OAzNS1MeAHaE7&mediaurl=https%3A%2F%2Fth.bing.com%2Fth%2Fid%2FR.08c5dd1103a4268877dce033352d4c78%3Frik%3DpSpMfwbDcPZAmw%26riu%3Dhttp%253a%252f%252fwww.traveli.co.kr%252frepository%252fread%252fcontents%252fK20180629133647253.jpg%26ehk%3D1de9A8Z7sDPa8TygbErDLHWbU7tC9j5tPpxBXUZehnw%253d%26risl%3D%26pid%3DImgRaw%26r%3D0%26sres%3D1%26sresct%3D1%26srh%3D799%26srw%3D1201&exph=486&expw=730&q=%EB%B6%80%EC%82%B0+%ED%9D%B0%EC%97%AC%EC%9A%B8%EB%AC%B8%ED%99%94%EB%A7%88%EC%9D%84&simid=608030910261977664&FORM=IRPRST&ck=498E825BC613CEDE2FA24C29F0AC28E8&selectedIndex=2&itb=0&cw=855&ch=860&ajaxhist=0&ajaxserp=0" alt="부산 흰여울문화마을">
            <p class="card-title"># 무한도전 쓱!</p>
        </div>
        <div class="card">
            <img src="https://www.bing.com/images/search?view=detailV2&ccid=94igkauI&id=1E36A28DE3509AA9E2112DAB4A0C86F74FBC2911&thid=OIP.94igkauIwTCGVP2fXbX5lAHaFj&mediaurl=https%3A%2F%2Fth.bing.com%2Fth%2Fid%2FR.f788a091ab88c1308654fd9f5db5f994%3Frik%3DESm8T%252feGDEqrLQ%26riu%3Dhttp%253a%252f%252fimg.ezmember.co.kr%252fcache%252fboard%252f2013%252f01%252f23%252fb162a5d8c51dd6e777fcd3f2570c0999.jpg%26ehk%3Dlx7bJ2VA%252bcOl32oe0Wpl1ozcVQB4mBmlSmxMvqnW%252beU%253d%26risl%3D%26pid%3DImgRaw%26r%3D0&exph=768&expw=1024&q=%EB%B6%80%EC%82%B0+%EA%B5%AD%EC%A0%9C%EC%8B%9C%EC%9E%A5&simid=608035140759259721&FORM=IRPRST&ck=D5CB4A35C36939C572D4E6BA3B222CED&selectedIndex=6&itb=0&cw=855&ch=860&ajaxhist=0&ajaxserp=0" alt="부산 국제시장">
            <p class="card-title">#  국제시장 쓱!</p>
        </div>
    </div>
</body>
</html>