<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kkilook : 부산관광은 끼룩</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='month.css') }}">

</head>

<body>

    {% include 'header.html' %}

    <div class="container">
        <h1># 이달의 행사</h1>
        <p>축제의 도시 부산! 부산에서 즐길 수 있는 다양한 콘텐츠들을 소개합니다.</p>
        <div class="event">
            <a href="http://www.bicf.kr/index.php" target="_blank">
                <div class="event-image">
                    <img src="https://img.etoday.co.kr/pto_db/2014/07/20140730113442_487599_520_737.jpg" alt="부산 국제 코미디페스티벌">
                </div>
                <div class="event-details">
                    <h2>부산 국제 코미디 페스티벌</h2>
                    <p></p>
                </div>
            </a>
        </div>
        <div class="event">
            <a href="https://korean.visitkorea.or.kr/kfes/detail/fstvlDetail.do?fstvlCntntsId=a50f6668-892d-4997-97fd-6ec7be5b04af" target="_blank">
                <div class="event-image">
                    <img src="https://kfescdn.visitkorea.or.kr/kfes/upload/contents/db/a50f6668-892d-4997-97fd-6ec7be5b04af_3.png" alt="피란수도 부산 문화유산야행">
                </div>
                <div class="event-details">
                    <h2>피란수도 부산 문화유산야행</h2>
                    <p></p>
                </div>
            </a>
        </div>
        <div class="event">
            <a href="https://korean.visitkorea.or.kr/kfes/detail/fstvlDetail.do?fstvlCntntsId=5f6a69a4-db10-4b48-8f3b-101354a1a774" target="_blank">
                <div class="event-image">
                    <img src="https://kfescdn.visitkorea.or.kr/kfes/upload/contents/db/5f6a69a4-db10-4b48-8f3b-101354a1a774_3.jpg" alt="별바다 부산 나이트페스타">
                </div>
                <div class="event-details">
                    <h2>별바다 부산 나이트페스타</h2>
                    <p></p>
                </div>
            </a>
        </div>
    </div>

    {% include 'footer.html' %}

</body>
</html>
