<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kkilook : 부산관광은 끼룩</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='month.css') }}">
</head>



<body>
    {% include 'header.html' %}
    
    <div class="container">
        <h1># 이달의 행사</h1>
        <p>축제의 도시 부산! 부산에서 즐길 수 있는 다양한 콘텐츠들을 소개합니다.</p>
        <div class="event">
            <a href="https://korean.visitkorea.or.kr/kfes/detail/fstvlDetail.do?fstvlCntntsId=a50f6668-892d-4997-97fd-6ec7be5b04af" target="_blank">
                <div class="event-image">
                    <img src="https://kfescdn.visitkorea.or.kr/kfes/upload/contents/db/a50f6668-892d-4997-97fd-6ec7be5b04af_3.png" alt="피란수도 부산 문화유산 야행">
                </div>
                <div class="event-details">
                    <h2>피란수도 부산 문화유산 야행</h2>
                    <p><img src="location_icon.png" alt="위치 아이콘"> 위치</p>
                    <p>2024.08.16 오후 5시 ~ 2024.08.17 오후 10시
                    <br>부산광역시 중구 대청로 112 부산근현대역사관 본관</p>
                </div>
            </a>
        </div>
        <div class="event">
            <a href="http://www.bicf.kr/index.php" target="_blank">
                <div class="event-image">
                    <img src="https://www.bing.com/images/search?view=detailV2&ccid=gTy3vWQc&id=1FE24946D4F83F03C5373AF32D217A915867F64D&thid=OIP.gTy3vWQconLXasFU3KAm1gHaKd&mediaurl=https%3A%2F%2Fcdn.entermedia.co.kr%2Fnews%2Fphoto%2F202007%2F15357_32616_4422.jpg&exph=848&expw=600&q=%EB%B6%80%EC%82%B0+%EA%B5%AD%EC%A0%9C+%EC%BD%94%EB%AF%B8%EB%94%94+%ED%8E%98%EC%8A%A4%ED%8B%B0%EB%B2%8C&simid=607998702264326337&FORM=IRPRST&ck=91B974A1BDBE3BE59C6C8DC945889016&selectedIndex=0&itb=0&cw=857&ch=869&ajaxhist=0&ajaxserp=0" alt="부산 국제 코미디 페스티벌">
                </div>
                <div class="event-details">
                    <h2>부산 국제 코미디 페스티벌</h2>
                    <p><img src="location_icon.png" alt="위치 아이콘"> 위치</p>
                    <p>2024.08.23 ~ 2024.09.01
                    <br>부산광역시 해운대구 수영강변대로 120</p>
                </div>
            </a>
        </div>
        <div class="event">
            <a href="https://korean.visitkorea.or.kr/kfes/detail/fstvlDetail.do?fstvlCntntsId=5f6a69a4-db10-4b48-8f3b-101354a1a774" target="_blank">
                <div class="event-image">
                    <img src="https://kfescdn.visitkorea.or.kr/kfes/upload/contents/db/5f6a69a4-db10-4b48-8f3b-101354a1a774_3.jpg" alt="별바다 부산 나이트페스타">
                </div>
                <div class="event-details">
                    <h2>별바다 부산 나이트페스타</h2>
                    <p><img src="location_icon.png" alt="위치 아이콘"> 위치</p>
                    <p>2024.07.01 ~ 2024.10.31
                    <br>부산광역시 사하구 다대포 해변공원</p>
                </div>
            </a>
        </div>
    </div>

    {% include 'footer.html' %}

</body>
</html>
