<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이달의 행사</title>
    <link rel="stylesheet" href="/Front-end/static/month.css">
</head>

{% include 'header.html' %}

<body>
    
    <div class="container">
        <h1># 이달의 행사</h1>
        <p>축제의 도시 부산! 부산에서 즐길 수 있는 다양한 콘텐츠들을 소개합니다.</p>
        <div class="event">
            <a href="실제 행사 url" target="_blank">
                <div class="event-image">
                    <img src="행사 이미지" alt="행사 이미지 1">
                </div>
                <div class="event-details">
                    <h2>행사 이름 1</h2>
                    <p><img src="location_icon.png" alt="위치 아이콘"> 위치</p>
                    <p>행사 소개 또는 주소</p>
                </div>
            </a>
        </div>
        <div class="event">
            <a href="실제 행사 url" target="_blank">
                <div class="event-image">
                    <img src="행사 이미지" alt="행사 이미지 2">
                </div>
                <div class="event-details">
                    <h2>행사 이름 2</h2>
                    <p><img src="location_icon.png" alt="위치 아이콘"> 위치</p>
                    <p>행사 소개 또는 주소</p>
                </div>
            </a>
        </div>
        <div class="event">
            <a href="실제 행사 url" target="_blank">
                <div class="event-image">
                    <img src="행사 이미지" alt="행사 이미지 3">
                </div>
                <div class="event-details">
                    <h2>행사 이름 3</h2>
                    <p><img src="location_icon.png" alt="위치 아이콘"> 위치</p>
                    <p>행사 소개 또는 주소</p>
                </div>
            </a>
        </div>
    </div>

    <footer></footer>

</body>
</html>
